/* General styles for the body */
body {
  background-color: #f7f7f7;
  margin: 10px 0px 0px; 
  display: flex;
  justify-content: center; /* Center content horizontally */
}

/* Navigation bar styles */
.nav {
  width: 100%;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 5px;
}

.image-6 {
  height: 40px;
}

/* Styles for buttons and containers */
.submitcontainer {
  text-align: left;
  letter-spacing: -.01em;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submitcontainer.button {
  /* Common styles for buttons */
  padding: 8px 12px;
  border-radius: 100px;
  transition: background-color 0.2s cubic-bezier(.23, 1, .32, 1);
}

.submitcontainer.button.left {
  color: #fff;
  background-color: #23c4f7;
  border-width: 0;
  margin-right: 12px;
  font-weight: 500;
}

.submitcontainer.button.last {
  color: rgba(0, 0, 0, .6);
  background-color: #ebebeb;
  border-width: 0;
  margin-right: 12px;
  font-weight: 500;
}

.submitcontainer.button.smile {
    color: #fff;
    background-color: #23c4f7;
    border-width: 0;
    margin-right: 12px;
    padding: 8px 24px;
    font-weight: 500;
    transition: background-color .2s cubic-bezier(.23, 1, .32, 1);
  }

  .submitcontainer.button.smile:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
  }

.submitcontainer.button:hover {
  color: #fff;
  background-color: #000;
}

.submitcontainer.button.left:hover,
.submitcontainer.button.last:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, .6);
}

.submitcontainer.button.left.w--current,
.submitcontainer.button.last.w--current {
  color: #fff;
  background-color: #000;
  margin-right: 12px;
}

.submitcontainer.button.left.app {
  /* Styles specific to a button with class 'app' */
  max-width: 100%;
  color: #fff;
  text-align: center;
  background-color: #23c4f7;
}

.submitcontainer.button.left.app:hover {
  background-color: #00d797;
}

.container {
  text-align: center;
  margin: 30px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px; /* Adjusted for better alignment */
  margin-left: 0px;
  margin-right: 0px;
}

/* Styles for the mobile screen */
#mobile-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 500px;
  background-color: #090909;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

#ringtone-img {
  width: 50%; /* Adjusted for better visibility */
  height: auto; /* Adjusted for better visibility */
  object-fit: fill;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

#text-below-img {
  color: #f4f4f4;
  font-size: 10px;
}

#decline-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(20, 176, 18);
  color: #f4f4f4;
  border: none;
  border-radius: 5px;
}
