body {
    background-color: #f7f7f7; 
    margin-top: 30px;
  }
  
  
  .nav {
    width: 100%;
    flex-flow: row;
    flex: 0 auto;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
  }
  
  .image-6 {
    height: 40px;
    margin-top: 5px;
  }
  
  
  .submitcontainer {
    text-align: left;
    letter-spacing: -.01em;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .submitcontainer.button {
    color: #000;
    background-color: #23c4f7;
    border: 1px solid #000;
    border-radius: 100px;
    align-self: flex-start;
    padding: px 12px;
  }
  
  .submitcontainer.button:hover {
    color: #fff;
    background-color: #000;
  }
  
  .submitcontainer.button.left {
    color: #fff;
    background-color: #23c4f7;
    border-width: 0;
    margin-right: 12px;
    padding: 8px 24px;
    font-weight: 500;
    transition: background-color .2s cubic-bezier(.23, 1, .32, 1);
  }

  .submitcontainer.button.last {
    color: #fff;
    background-color: #23c4f7;
    border-width: 0;
    margin-right: 12px;
    padding: 8px 24px;
    font-weight: 500;
    transition: background-color .2s cubic-bezier(.23, 1, .32, 1);
  }
  
  .submitcontainer.button.smile {
    color: #fff;
    background-color: #23c4f7;
    border-width: 0;
    margin-right: 12px;
    padding: 8px 24px;
    font-weight: 500;
    transition: background-color .2s cubic-bezier(.23, 1, .32, 1);
  }

  .submitcontainer.button.smile:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
  }

  .submitcontainer.button.left.app {
    max-width: 100%;
    color: #fff;
    text-align: center;
    background-color: #23c4f7;
    flex: none;
    order: 1;
    align-self: auto;
    margin-top: 0;
    margin-right: 0;
    display: inline;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .submitcontainer.button.left:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
  }
  
  .submitcontainer.button.last:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
  }

  .heading {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px 0px 0px;
    padding: 0px 100px;
    font-size: 45px;
    color: black;
  }
  
  .subline{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px 0px 15px;
    padding: 0px 100px;
    font-size: 16px;
  }

  #smiley-container {
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    position:relative;
  }

        #smiley {
            width: 400px;
            height: 400px;
            transition: transform 0.3s ease-in-out;
        }

        #icon-container {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 100px;
            display: flex;
            justify-content: center;
        }

        .icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            margin: 0 5px;
            cursor: pointer;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: white;
            box-shadow: 0 0 5px rgba(67, 66, 66, 0.5);
            transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
            border-radius: 10%; 
            padding: 10px;
        }

        .icon:hover {
            background-color:white;
            transform: scale(1.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          }

          .icon.w--current {
            transition: background-color .2s cubic-bezier(.23, 1, .32, 1);
          }

        .icon img {
            width: 50px;
            height: 50px;
        }   

        .icon span {
            margin-top: 5px;
        }