
.hero-text {
  color: black;
  margin-top: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

p {
  font-weight: 350;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;

}

body {
  background-color: rgb(233, 232, 232); /* Set your desired background color here */
  color: black;
  background-color: #f7f7f7;
  flex-direction: column;
  font-family: GT America, sans-serif;
  font-weight: 400;
  margin-top: 150px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px; /* Set your desired max width */
  height: 400px;
  background-color: #ebebeb;
  padding: 5px 20px 20px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Center horizontally */
}


.video {
cursor: pointer;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  display: block;
}

.bodylink {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  cursor: pointer;
  color: black;
  border: none;
  border-radius: 5px;
  justify-content: center;
  margin: 0 auto;
  font-family: GT America, sans-serif;
  margin-top: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}
